body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: skyblue;
    font-family: Arial, sans-serif;
}
/* h1{
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
} */

.game-container {
    text-align: center;
    position: relative;
}

#board {
    border: 1px solid #f00;
    background-color: #fff;
}
.info-panel {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.score, .high-score {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    font-size: 18px;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: limegreen;
}

.game-over-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    display: none;
}

.game-over-screen h2 {
    margin-top: 0;
}