body{
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    
}
#my-canvas{
    width: 400px;
    height: 400px;
    border: 2px solid #0000ff;
}
    